.commentContents {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.08);
  padding: 4px 4px 4px 15px;
  border-radius: 20px;
  margin-top: 25px;
  margin-left: 10px;
  width: 95%;
  height: 35px;
  font-size: 13px;
  display: flex;
  align-items: center;
}

.commentTitle {
  font-size: 20px;
  font-weight: 500;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 20px;
}
.comment_nickname {
  font-family: "Inter";
  margin-top: 7px;
  margin-left: 15px;
  font-weight: 430;
  font-size: 13px;
}
.comment {
  margin-left: 15px;
  margin-top: 15px;
  height: 35px;
  font-size: 13px;
  font-weight: 400;
}
.borderHR {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 25px;
}
.comment {
  font-family: "Inter";
}
.commentContentsPR {
  display: flex;
  margin-left: 20px;
}
.commentContents {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 15px;
  font-family: "Inter";
  border-radius: 20px;
  padding: 10px;
  width: 75px;
  background-color: #4254ff;
  border: none;
  cursor: pointer;
  color: white;
  box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.1);
}

.commentWriteTitle {
  font-size: 20px;
  font-weight: 500;
  margin-left: 20px;
  margin-top: 15px;
}
.commentEdit {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.08);
  border: none;
  padding: 10px 20px 4px 15px;
  border-radius: 20px;
  margin-top: 25px;
  margin-left: 10px;
  margin-bottom: 15px;
  padding-bottom: 8px;
  width: 95%;
  height: 35px;
  font-size: 13px;
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.commentEditSubmitBtn {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 15px;
  font-family: "Inter";
  border-radius: 20px;
  padding: 10px;
  width: 65px;
  background-color: #4254ff;
  border: none;
  cursor: pointer;
  color: white;
  box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
}
.nickname {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.08);
  border: none;
  padding: 4px 4px 4px 15px;
  border-radius: 20px;
  margin-left: 10px;
  width: 100%;
  height: 35px;
  font-size: 12px;
  display: flex;
  align-items: center;
}
.commentField {
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.08);
  border: none;
  padding: 10px 20px 4px 15px;
  border-radius: 20px;
  margin-left: 5px;
  margin-right: 7px;
  width: 230%;
  height: 35px;
  font-size: 12px;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  resize: none;
}
.commentWriteTitle {
  font-family: "Inter";
}
.commentSubmitPR {
  display: flex;
  margin-left: 5px;
  margin-right: 10px;
  align-items: center;
  padding-bottom: 8px;
  background-color: white;
}
.commentSubmit {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-family: "Inter";
  border-radius: 20px;
  width: 180px;
  height: 35px;
  background-color: #4254ff;
  border: none;
  cursor: pointer;
  color: white;
  box-shadow: 2px 3px 0px 0px rgba(0, 0, 0, 0.1);
}
.commentSubmit:hover {
  opacity: 0.97;
}
.borderHR_comment {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.comment_HR {
  border-top: 0.5px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 25px;
}
.comment_div {
  border: 3px solid blue;
}