.errorPageContanier{
    width:100vw;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.errorTextMessage{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    color: #4254FF;
    margin-bottom: 30px;
}
.errorPageToMainPage{
text-decoration: none;
background-color:#4254FF;
border-radius: 20px;
padding:15px;
color:white;
}
.errorPageToMainPage:visit{
    color: white;
}